backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

media_folder: "public/images"
public_folder: /images

collections:
  - name: "gallerie"
    label: "Gallerie"
    create: false
    delete: false
    identifier_field: "Photos"
    files:
      - label: Photos de la gallerie
        name: gallery
        file: "data/gallery/gallery.md"
        fields:
          - {label: Mobile, name: mobile, widget: boolean, default: false}
          - label: "Images"
            name: pics
            widget: list
            fields: 
              - {label: Photo, name: pic, widget: image, allow_multiple: false}
              - {label: Alt, name: alt, widget: string}
              - {label: Catégorie(s), name: catégories, widget: list, field: {label: Catégorie, name: catégorie, widget: string, required: true}, required: true}
              - {label: Size, name: size, widget: select, options: [1/3, 2/3, 3/3]}
              - {label: PosX, name: posX, widget: position, default: 50, min: 1, max: 100}
              - {label: PosY, name: posY, widget: position, default: 50, min: 1, max: 100}
  - name: "prestations"
    label: "Prestations"
    create: false
    delete: false
    files: 
      - label: Prestations
        name: services
        file: "data/services/services.md"
        fields:
        - {label: Mobile, name: mobile, widget: boolean, default: false, required: false}
        - label: Prestations
          name: services
          widget: list
          fields : 
            - {label: Titre, name: title, widget: string}
            - {label: Prix, name: price, widget: string}
            - label: Description
              name: content
              widget: text
              pattern: ['.{1,140}$', "Ne pas dépasser 140 caractères."]
            - {label: Background-Photo, name: pic, widget: image, allow_multiple: false}
            - {label: Size, name: size, widget: select, options: [1/2, 2/2]}
            - {label: PosX, name: posX, widget: position, default: 50, min: 1, max: 100}
            - {label: PosY, name: posY, widget: position, default: 50, min: 1, max: 100}
            - {label: Couleur du Titre, name: colorTitle, widget: color, default: '#323E42'}