.Background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size : 'cover';
    z-index: -1;
}
.Container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.ChildContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.Container main {
    flex: 1;
}