@font-face {
	font-family: Playfair Display;
	src: url(/public/fonts/PlayfairDisplay-VariableFont_wght.ttf);
  }
  @font-face {
	font-family: Source Serif Pro;
	src: url(/public/fonts/SourceSerifPro-Regular.ttf);
  }
:root {
	--ff-primary : Playfaire Display, serif;
	--ff-secondary : Source Serif Pro, serif;

	--fw-400 : 400;
	--fw-500 : 500;
	--fw-600 : 600;

	--fs-500 : 1rem;
	--fs-600 : 2rem;
	--fs-700 : 3rem;
	--fs-800 : 6rem;

	--color-primary : hsl(205, 13%, 33%);
	--color-secondary : hsl(196, 100%, 97%);

	--color-400 : hsl(0, 0%, 100%);
	--color-500 : hsl(194, 100%, 46%);
	--color-600 : hsl(195, 14%, 23%);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Playfair Display, serif;
	font-weight: var(--fw-400);
	line-height: 1;
	width : 100vw;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea:focus, input:focus{
    outline: none;
}
* {
	box-sizing: border-box;
}
/* GENERAL */
.App {
	height: auto;
	min-height: 100vh;
	width: 100vw;
	/* display: flex;
	flex-direction: column; */
}
header > div > nav {
	display: flex;
	align-items: center;
}
button {
	cursor: pointer;
}
/* TITLE */


h1 {
	font-weight: var(--fw-primary-500);
	font-size: clamp(2rem, 0.545rem + 7.27vw, 6rem);
	text-transform: uppercase;
	color: var(--color-secondary);
}
h2 {
	font-weight: var(--fw-secondary);
	font-size: clamp(1.5rem, 0.955rem + 2.73vw, 3rem);
}
.titleSection {
	margin: 1rem 0;
	text-align: center;
}

/* HEADER */
header img {
	height : 20vh;
	max-height: 90px;
}
header ul {
	display: inline-flex;
	gap: 3rem;
	font-size:clamp(1rem, 0.818rem + 0.91vw, 1.2rem);
}
header ul .link {
    color:var(--color-secondary);
    text-decoration: none;
}
header .link, .active {
    transition: .2s linear;
}
header .link:hover, .active:hover{
    display: inline-block;
    transform: scale(1.2);
}
header .active:hover:after {
    bottom: -7px;
    height: 1.5px;
}
header .active {
    position: relative;
}

header .active:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 1px;
    background-color: var(--color-secondary);
}

/* GALLERY */

/* FOOTER */
footer {
	background-color: var(--color-600);
	height: 10vh;
}

footer ul {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: .3rem;
	column-gap: 5rem;
}
footer li {
	list-style: inside;
	color: var(--color-secondary);
}
footer a {
	color: var(--color-secondary);
	text-decoration: none;
}
footer a:hover, footer .active:hover {
	transform: scale(1);
	text-decoration: underline;
}
